{% if page.layout == "default" %}
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Did you know,</div>
      <div class="intro-heading">Books <i class="fa fa-plus" aria-hidden="true"></i> Bicycles = <i class="fa fa-heart-o" aria-hidden="true"></i></div>
      <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
    </div>
  </div>
</header>
{% elsif page.layout == "page" %}
<header style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('{{ site.url }}/img/rides/{{ page.slug }}/thumbnail.jpg');">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">{{ page.title }}</div>
      <div class="intro-lead-in">{{ page.date | date: "%B %-d, %Y"}}</div>
    </div>
  </div>
</header>
{% else %}
<header style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('{{ site.url }}/img/library.jpg');">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">We write stuff too,</div>
      <div class="intro-heading">Welcome to our Blog</div>
      <a href="#content" class="page-scroll btn btn-xl">Read on</a>
    </div>
  </div>
</header>
{% endif %}
