<section id="call-to-action">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 text-center">
                <h2>What is a Book Ride?</h2>
                <p>
                    Think of a Book Ride as a literary festival on two wheels, delivered in a safe
                    and engaging parade format with plenty of stops along the way. Local authors
                    read from their books at points of interest along a street, and audiences have a
                    chance to ask questions and have their books signed. When authors ride along it
                    turns into a mobile book club meeting! Organizers select the route as a vital
                    street that needs infrastructure improvements to promote cycling and pedestrian
                    traffic; for example, protected bike lanes, more bike parking, or a "pocket
                    park" instead of parking for cars. Local libraries and bookstores make the books
                    available for borrowing and purchase before the Book Ride.
                </p>
            </div>
            <div class="col-lg-6 text-center">
                <h2>Love our Book Rides? Start your own!</h2>
                <p>
                    We're now booking speaking engagements on how to promote arts and cycling
                    infrastructure in your community
                </p>
                <p>
                    Since 2014, we have produced Book Rides that bring together literary and cycling
                    communities. We have a proven track record of engaging key changemakers in
                    government and non-profit organizations by using a mix of vibrant programming
                    and eclectic media to raise awareness of safe cycling infrastructure, literacy,
                    and the arts. And now we want to share our story with you. We're booking
                    invitations to speak about how we took The Reading Line from a crazy idea into a
                    multi-city festival that regularly includes bestselling authors and makes
                    national and local media. Whether you're an arts non-profit, a politician, or a
                    cycling advocacy organization, we want to speak with you about how you can make
                    your your city a better place, one street and one book at a time.
                </p>
            </div>
        </div>
    </div>
</section>
