<section id="rides_list" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Book Rides</h2>
                <h3 class="section-subheading text-muted">
                    All the rides that have already happened!
                </h3>
            </div>
        </div>
        <div class="row">
            {% for page in site.pages reversed %} {% if page.title %}
            <div class="col-md-4 col-sm-6 rides_list-item">
                <a href="{{ site.url }}{{ page.url }}" class="rides_list-link">
                    <div class="rides_list-hover">
                        <div class="rides_list-hover-content">Learn More</div>
                    </div>
                    <img
                        src="img/rides/{{ page.slug }}/thumbnail.jpg"
                        class="img-responsive img-centered"
                        alt=""
                    />
                </a>
                <div class="rides_list-caption">
                    <h4>{{ page.title }}</h4>
                    <p class="text-muted">{{ page.date | date: "%B %Y" }}</p>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</section>
