<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="overflow-wrap:break-word;">Testimonials</h2>
        <h3 class="section-subheading">What people are saying about The Reading Line</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          {% for review in site.data.testimonials %}
          {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
          {% if thecycle == 'odd' %}
          <li>
          {% else %}
          <li class="timeline-inverted">
          {% endif %}
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/testimonials/{{ review.img }}.jpg" alt="{{ review.img }}">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading" style="color:#b4bcc2!important;font-size:15px;">{{ review.about }}</h4>
                <h4>{{ review.author }}</h4>
              </div>
              <div class="timeline-body">
                <p>{{ review.content }}</p>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
